<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.guojiaoyuan.yuliaoku.yuliaoku.dao.MaterialDao">

    <!--==================================基本查询============================-->

    <!--自定义返回的类型-->
    <resultMap id="material" type="Material">
        <!--定义主键，否则可能会与其他表的id冲突，导致无法获取值-->
        <id  property="id" column="id" javaType="java.lang.Integer"/>
        <association property="materialType" javaType="MaterialType" column="materialTypeId" select="com.lcvc.guojiaoyuan.yuliaoku.yuliaoku.dao.MaterialTypeDao.getSimple">
        </association>
    </resultMap>

    <select id="getSimple"  resultType="Material">
        select * from material where id=#{id}
    </select>


    <select id="get"  resultMap="material">
        select * from material where id=#{id}
    </select>

   <insert id="save"  useGeneratedKeys="true" keyProperty="id">
          insert into material(id,materialTypeId,chinese,english,spanish,audit,auditorId,auditTime,removeStatus)
          values(null,#{materialType.id},#{chinese},#{english},#{spanish},#{audit},#{auditor.username},#{auditTime},0)
    </insert>

    <insert id="saves">
        <choose>
            <when test="list.size()>0">
                insert into material(id,materialTypeId,chinese,english,spanish) values
                <foreach collection="list" item="item" index="index" separator=",">
                    (null,#{item.materialType.id},#{item.chinese},#{item.english},#{item.spanish})
                </foreach>
            </when>
            <otherwise>
                <!--执行一个空的b语句，否则如果是空的代码会报错-->
                select 0
            </otherwise>
        </choose>
    </insert>

    <update id="update" parameterType="Material">
        update material
        <!-- 使用set标签可以将动态的配置SET 关键字，和剔除追加到条件末尾的任何不相关的逗号。 -->
        <set>
            <if test="materialType!=null and materialType.id!=null">materialTypeId=#{materialType.id},</if>
            <if test="chinese!=null and chinese.length()>0">chinese=#{chinese},</if>
            <if test="english!=null and english.length()>0">english=#{english},</if>
            <if test="spanish!=null and spanish.length()>0">spanish=#{spanish},</if>
            <if test="audit!=null">audit=#{audit},</if>
            <if test="auditor!=null and auditor.username!=null">auditorId=#{auditor.username},</if>
            <if test="auditTime!=null">auditTime=#{auditTime},</if>
            <if test="removeStatus!=null">removeStatus=#{removeStatus},</if>
        </set>
        where id=#{id}
    </update>


    <delete id="delete" >
        delete from material where id=#{id}
    </delete>

    <delete id="deletes" >
        delete from material where 1=0
        <if test="array != null and array.length> 0">
            OR id in
            <foreach item="item" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

    <select id="total"  resultType="Integer">
        select count(1) from material
    </select>

    <select id="readAll" resultMap="material">
        select material.* from material
        <include refid="queryWhere"></include>
        order by material.id asc
    </select>

    <select id="query" resultMap="material">
        select material.* from material
        <include refid="queryWhere"></include>
        order by material.id asc limit #{offset},#{length}
    </select>

    <select id="querySize" resultType="Integer">
        select count(1) from (
        select material.id from material
        <include refid="queryWhere"></include>
        ) u
    </select>

    <!--统一查询的条件，方便用于分页等查询，这里提供给query和querySize调用-->
    <sql id="queryWhere">
        <if test="objectQuery!=null">
            <where>
                <if test="objectQuery.removeStatus!=null">
                    and material.removeStatus=#{objectQuery.removeStatus}
                </if>
                <if test="objectQuery.materialType!=null and objectQuery.materialType.id!=null">
                    and material.materialTypeId=#{objectQuery.materialType.id}
                </if>
                <if test="objectQuery.chinese!=null and objectQuery.chinese.length()>0">
                    <!-- bind，重新定义一个变量，可用于模糊查询等，并且可以直接覆盖原变量 -->
                    <bind name="chinese" value="'%' + _parameter.objectQuery.chinese + '%'" />
                    and material.chinese like #{chinese}
                </if>
                <if test="objectQuery.english!=null and objectQuery.english.length()>0">
                    <!-- bind，重新定义一个变量，可用于模糊查询等，并且可以直接覆盖原变量 -->
                    <bind name="english" value="'%' + _parameter.objectQuery.english + '%'" />
                    and material.english like #{english}
                </if>
                <if test="objectQuery.spanish!=null and objectQuery.spanish.length()>0">
                    <!-- bind，重新定义一个变量，可用于模糊查询等，并且可以直接覆盖原变量 -->
                    <bind name="spanish" value="'%' + _parameter.objectQuery.spanish + '%'" />
                    and material.spanish like #{spanish}
                </if>
            </where>
        </if>
    </sql>



    <!--==================================定制查询============================-->

    <update id="updateOfRemoves">
        update material set removeStatus=#{removeStatus} where 1=0
        <if test="array != null and array.length> 0">
            OR id in
            <foreach item="item" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <update id="updatesOfAudit" >
        update material set audit=#{audit},auditorId=#{auditorId},auditTime=#{auditTime} where 1=0
        <if test="ids != null and ids.length> 0">
            OR id in
            <foreach item="item" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <update id="updatesOfMaterialType">
        update material set materialTypeId=#{materialTypeId} where 1=0
        <if test="array != null and array.length> 0">
            OR id in
            <foreach item="item" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <select id="queryForTranslation" resultMap="material">
        select material.* from material
        <include refid="queryWhereTranslation"></include>
        <choose>
            <when test="objectQuery!=null">
                <choose>
                    <when test="objectQuery.queryType!=null and objectQuery.queryType==1 and objectQuery.chinese!=null and objectQuery.chinese.length()>0">
                        order by Length(material.chinese)/Length(#{objectQuery.chinese}) asc
                    </when>
                    <when test="objectQuery.queryType!=null and objectQuery.queryType==2 and objectQuery.english!=null and objectQuery.english.length()>0">
                        order by Length(material.english)/Length(#{objectQuery.english}) asc
                    </when>
                    <when test="objectQuery.queryType!=null and objectQuery.queryType==3  and objectQuery.spanish!=null and objectQuery.spanish.length()>0">
                        order by Length(material.spanish)/Length(#{objectQuery.spanish}) asc
                    </when>
                    <otherwise>
                        order by material.id asc
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by material.id asc
            </otherwise>
        </choose>
        limit #{offset},#{length}
    </select>

    <select id="querySizeForTranslation" resultType="Integer">
        select count(1) from (
        select material.id from material
        <include refid="queryWhereTranslation"></include>
        ) u
    </select>

    <!--统一查询的条件，方便用于分页等查询-->
    <sql id="queryWhereTranslation">
        <choose>
            <when test="objectQuery!=null">
                <where>
                    <choose>
                        <when test="objectQuery.queryType!=null">
                            <choose>
                                <when test="objectQuery.queryType==1 and objectQuery.chinese!=null and objectQuery.chinese.length()>0">
                                    <bind name="chinese" value="'%' + _parameter.objectQuery.chinese + '%'" />
                                    and  material.chinese like #{chinese}
                                </when>
                                <when test="objectQuery.queryType==2 and objectQuery.english!=null and objectQuery.english.length()>0">
                                    <choose>
                                        <when test='objectQuery.english.contains(" ")'>
                                            <bind name="english" value="'%' + _parameter.objectQuery.english + '%'" />
                                            and  material.english like #{english}
                                        </when>
                                        <otherwise>
                                            and  FIND_IN_SET(#{objectQuery.english},replace(material.english," ",","))>0
                                        </otherwise>
                                    </choose>
                                </when>
                                <when test="objectQuery.queryType==3 and objectQuery.spanish!=null and objectQuery.spanish.length()>0">
                                    <choose>
                                        <when test='objectQuery.spanish.contains(" ")'>
                                            <bind name="spanish" value="'%' + _parameter.objectQuery.spanish + '%'" />
                                            and  material.spanish like #{spanish}
                                        </when>
                                        <otherwise>
                                            and  FIND_IN_SET(#{objectQuery.spanish},replace(material.spanish," ",","))>0
                                        </otherwise>
                                    </choose>
                                </when>
                                <otherwise>
                                    and 1=0
                                </otherwise>
                            </choose>
                        </when>
                        <otherwise>
                            and 1=0
                        </otherwise>
                    </choose>
                </where>
            </when>
            <otherwise>
                where 1=0
            </otherwise>
        </choose>
    </sql>

    <select id="getMaterialPhoto"  resultType="MaterialPhoto">
        select * from material_photo where id=#{id}
    </select>

    <insert id="saveMaterialPhotos">
        <choose>
            <when test="fileNames.size()>0">
                insert into material_photo(id,meterialId,picUrl,createTime) values
                <foreach collection="fileNames" item="item" index="index" separator=",">
                    (null,#{meterialId},#{item},now())
                </foreach>
            </when>
            <otherwise>
                <!--执行一个空的b语句，否则如果是空的代码会报错-->
                select 0
            </otherwise>
        </choose>
    </insert>


    <select id="getMaterialPhotosNumber"  resultType="Integer">
        select count(1) from material_photo where meterialId=#{meterialId}
    </select>

    <select id="getMaterialPhotos"  resultType="MaterialPhoto">
        select * from material_photo where meterialId=#{meterialId}
    </select>



    <delete id="deleteMaterialPhotosByMaterial">
        delete from material_photo where meterialId=#{meterialId}
    </delete>

    <delete id="deleteMaterialPhotos" >
        delete from material_photo where 1=0
        <if test="array != null and array.length> 0">
            OR id in
            <foreach item="item" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

</mapper>