<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.guojiaoyuan.yuliaoku.yuliaoku.dao.MaterialEnglishHistoryDao">

    <!--==================================基本查询============================-->

    <!--自定义返回的类型-->
    <resultMap id="materialEnglishHistory" type="MaterialEnglishHistory">
        <!--定义主键，否则可能会与其他表的id冲突，导致无法获取值-->
        <id  property="id" column="id" javaType="java.lang.Integer"/>
        <association property="material" javaType="Material" column="materialId" select="com.lcvc.guojiaoyuan.yuliaoku.yuliaoku.dao.MaterialDao.get">
        </association>
        <association property="operator" javaType="Admin" column="operatorId" select="com.lcvc.guojiaoyuan.yuliaoku.yuliaoku.dao.AdminDao.get">
        </association>
        <association property="auditor" javaType="Admin" column="auditorId" select="com.lcvc.guojiaoyuan.yuliaoku.yuliaoku.dao.AdminDao.get">
        </association>
    </resultMap>

    <select id="get"  resultMap="materialEnglishHistory">
        select * from material_english_history where id=#{id}
    </select>

   <insert id="save"  useGeneratedKeys="true" keyProperty="id">
          insert into material_english_history(id,materialId,operatorId,english,createTime,audit,auditorId,auditTime)
          values(null,#{material.id},#{operator.username},#{english},now(),#{audit},#{auditor.username},#{auditTime})
    </insert>

    <update id="update" parameterType="MaterialEnglishHistory">
        update material_english_history
        <!-- 使用set标签可以将动态的配置SET 关键字，和剔除追加到条件末尾的任何不相关的逗号。 -->
        <set>
            <if test="material!=null and material.id!=null">materialId=#{material.id},</if>
            <if test="english!=null and english.length()>0">english=#{english},</if>
            <if test="audit!=null">audit=#{audit},</if>
            <if test="auditor!=null and auditor.username!=null">auditorId=#{auditor.username},</if>
            <if test="auditTime!=null">auditTime=#{auditTime},</if>
        </set>
        where id=#{id}
    </update>


    <delete id="delete" >
        delete from material_english_history where id=#{id}
    </delete>

    <delete id="deletes" >
        delete from material_english_history where 1=0
        <if test="array != null and array.length> 0">
            OR id in
            <foreach item="item" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

    <delete id="deleteObjects" >
        delete from material_english_history where id in
        <foreach item="item" collection="collection" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <select id="total"  resultType="Integer">
        select count(1) from material_english_history
    </select>

    <select id="readAll" resultMap="materialEnglishHistory">
        select * from material_english_history order by createTime desc
    </select>

    <select id="query" resultMap="materialEnglishHistory">
        select material_english_history.* from material_english_history
        <include refid="queryWhere"></include>
        order by material_english_history.createTime desc limit #{offset},#{length}
    </select>

    <select id="querySize" resultType="Integer">
        select count(1) from (
        select material_english_history.id from material_english_history
        <include refid="queryWhere"></include>
        ) u
    </select>

    <!--统一查询的条件，方便用于分页等查询，这里提供给query和querySize调用-->
    <sql id="queryWhere">
        <if test="objectQuery!=null">
            <where>
                <if test="objectQuery.id!=null">
                    and material_english_history.id=#{objectQuery.id}
                </if>
                <if test="objectQuery.english!=null and objectQuery.english.length()>0">
                    <!-- bind，重新定义一个变量，可用于模糊查询等，并且可以直接覆盖原变量 -->
                    <bind name="english" value="'%' + _parameter.objectQuery.english + '%'" />
                    and material_english_history.english like #{english}
                </if>
                <if test="objectQuery.material!=null and objectQuery.material.id!=null">
                    and material_english_history.materialId=#{objectQuery.material.id}
                </if>
                <if test="objectQuery.operator!=null and objectQuery.operator.username!=null">
                    and material_english_history.operatorId=#{objectQuery.material.username}
                </if>
                <if test="objectQuery.auditor!=null and objectQuery.auditor.username!=null">
                    and material_english_history.auditorId=#{objectQuery.auditor.username}
                </if>
                <if test="objectQuery.audit!=null">
                    and material_english_history.audit=#{objectQuery.audit}
                </if>
            </where>
        </if>
    </sql>


    <!--==================================定制查询============================-->
    <delete id="deleteByMaterial" >
        delete from material_english_history where materialId=#{materialId}
    </delete>

    <update id="updateOfAuditRefuse" >
        update material_english_history set audit=false,auditorId=#{auditorId},auditTime=#{auditTime} where 1=0
        <if test="ids != null and ids.length> 0">
            OR id in
            <foreach item="item" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>
</mapper>